!!!
.body
  -# <ヘッダー>
  .top-header
    =render "shared/header"
  -# <メイン画面>
  .main
    .container-fluid
      .row
        -# <ダッシュボード>
        .col-xs-12.col-sm-2
          =render "users/dashboard"
        -# <編集画面>
        .col-xs-12.col-sm-10
          -# <タイトル、本文、編集ボタン、削除ボタン>
          .container
            .row
              - current_user.posts.each do |post|
                .col-xs-12.col-sm-2
                  = post.title
                .col-xs-12.col-sm-4#users-content
                  = post.content
                .col-xs-12.col-sm-2
                  =link_to '編集', "/posts/#{post.id}/edit", method: :get
                .col-xs-12.col-sm-2
                  =link_to '削除', "/posts/#{post.id}", method: :delete
                .col-xs-12.col-sm-2
                  = post.status